body {
    margin: 0;
}

.shapka {
    font-size: 40px;
    display: block;
    background-color: silver;
    padding: 25px;
}
.shapka a {
    text-decoration: none;
    color: white;
    margin-left: 70px;
}

.divone {
    background-color:silver;
    padding: 20px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.divone h1 {
    font-size: 50px;
}
.divone p {
    font-size: 30px;
}
.divone div a{
    text-decoration: none;
    display: inline-block;
    padding: 20px 35px;
    color: white;
    background-color: royalblue;
    border-radius: 20px;
}

.button {
    text-decoration: none;
    display: inline-block;
    padding: 15px;
    margin-left: 90%;
    color: white;
    background-color: royalblue;
    border-radius: 20px;
}

.divtwo {
    background-color:white;
    border-bottom: solid 2px black;
    margin-left: 10px;
    margin-right: 10px;
}

.divtri {
    background-color:white;
    border-bottom: solid 2px black;
    margin-left: 10px;
    margin-right: 10px;
}

.galerya {
    padding: 5px;
    font-size: 0;
    flex-wrap: wrap;
    flex-direction: column;
    flex-flow: row wrap;
    display: flex;
}

.galerya div {
    flex: auto;
    margin: 10%;

}

.galerya div img {
    width: 150px;
    height: 200px;
}

.galerya_button a{
    text-decoration: none;
    display: inline-flex;
    background-color: royalblue;
    color: white;
    border-radius: 20px;
    padding: 20px 35px;
    margin-left: 40vw;
}


footer {
    padding: 15px;
    margin-top: 90px;
    background-color: silver;
    font-size: 40px;
    overflow: hidden;
}

footer a {
    text-decoration: none;
    color: white;
}